+b.FOOTER.footer
	+e.container.container
		+e.rights INSURE. All rights reserved 2017
		+e.NAV.nav
			-navList = ['Personal plans', 'Business plans', 'Guide', 'Blog']
			each el in navList
				+e.nav-link(href='#!')= el