doctype html
html(lang='ru')
	meta(charset="UTF-8")
	title Vintage
	link(href='https://fonts.googleapis.com/css?family=Roboto:400,300', rel='stylesheet', type='text/css')
	style.
		* {
			font-family: 'Roboto', sans-serif;
			padding: 0;
			margin: 0;
		}

		svg {
			display: inline-block;
			vertical-align: middle;
		}

		header {
			text-align: center;
			height: 96px;
			border-bottom: 2px #ededed solid;
		}

		header svg {
			height: 100%;
		}

		footer {
			font-size: 12px;
			color: #a5a5a8;
			padding: 45px;
		}

		.logo {
			float: left;
		}

		.copyright {
			float: right;
		}

		.content {
			border-top: 2px #fff solid;
			padding: 45px;
			background: #ededed;
			position: relative;
			overflow: hidden;
		}

		.title {
			font-size: 36px;
			font-weight: 300;
			line-height: 65px;
			border-bottom: 1px #fff solid;
		}

		.pager {
			width: 50%;
		}

		.page {
			display: block;
			overflow: hidden;
			text-decoration: none;
			margin-top: 30px;
		}

		.page .number {
			float: left;
			font-size: 13px;
			color: #a5a5a8;
		}

		.page .name {
			padding-left: 30px;
			font-size: 14px;
			color: #28292a;
			margin-bottom: 5px;
		}

		.page .description {
			padding-left: 30px;
			font-size: 12px;
			color: #636363;
		}

		.click {
			font-size: 12px;
			color: #636363;
			border: 2px solid #fff;
			padding: 5px 10px;
			display: inline-block;
			margin-left: 30px;
			margin-top: 10px;
		}

		.page:hover, .page:hover .number, .page:hover .name, .page:hover .description {
			color: #a5a5a8;
		}

		.window {
			position: fixed;
			width: 100%;
			height: 100%;
			right: 40px;
			top: 50%;
			transform: translateY(-50%) translateX(25%) scale(0.5);
		}

		.click:after {
			content: 'показать';
		}

		iframe {
			width: 100%;
			height: 100%;
			border: 4px #fff solid;
			background: #fff;
		}
	.content
		.title Eleken Test Task
		.pager
			| <a class="page" href="list.html"><div class="number">01</div><div class="name">List</div><div class="description">List page</div> </a>
			| <a class="page" href="card.html"><div class="number">02</div><div class="name">Card</div><div class="description">Card page</div> </a>
			| <a class="page" href="../docs/index.html"><div class="number">03</div><div class="name">Docs</div><div class="description">Docs page</div> </a>